/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 57%; 
  margin: 0 auto;
}

img { 
  @include image(cover, center)
}


@at-root {
  .bg-color {
    padding: 0px 5px;
    background-color: $offWhite;
  }

  .forground-color { color: $green; }
}