// Colors
$green: #8EB63E;
$white: #fff;
$offWhite: #F7F7F7;
$black: #212121;
$grey: #ACACAC;
$lightgrey: #E8e8e8;


// Font Variable
$extra-large: 64px;
$large: 52px;
$large-medium: 48px;
$large-small: 32px;
$medium-large: 24px;
$medium-font: 18px;
$normal-font: 16px;
$small: 14px;
$extra-small: 12px;

// Font Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bold-black: 900;

// Services Icons
$services-icons: (1: "\f1b8", 2:"\f095", 3:"\f013", 4:"\f10b");

// Social Icons
$social-icons: (1: "\f09a", 2:"\f099", 3:"\f09e", 4:"\f27d", 5: "\f17d", 6: "\f0e1");

// Contact Icons
$contact-icons: (1: "\f003", 2:"\f095", 3:"\f10b");
