.banner-section {
  @include positions(relative);

  @at-root {
    .sliders {
      width: 100%;
      @include flexbox (flex);
      overflow: hidden;

      .slider {
        min-width: 100%;
        width: 100%;
      }

      .banner-img {
        width: 100%;
        height: 100%;
        @include positions (relative);

        h2 {
          max-width: 350px;
          padding: 30px;
          @include positions (absolute, $top: 8%, $right: 19%);
          color: $white;
          font-size: 24px;
          line-height: 1.4;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  .wrapper {
    width: 100%;
    @include positions(absolute, $top:50%, $left:50%);
    @include transform (-50%, -50%);

    @at-root {
      .slider-btn {
        width: 88.5%;
        margin: 0 auto;
        @include flexbox (flex, $justify: space-between);
      }

      .prev-btn {
        text-indent: -99999px;

        &::before {
          @include icons ("\f053", $color: $white, $font: $medium-large);
          width: 40px;
          height: 40px;
          border: 5px solid #FFF;
          border-radius: 50%;
          @include flexbox (flex, center, $justify: center);
          float: right;
          background-color: rgba(0,0,0,0.3);
          text-indent: 0;
          @include transition (.5s);
        }
      }

      .next-btn {
        @extend .prev-btn;
        &::before {
          @include icons ("\f054");
        }
      }
    }
  }

  @include responsiveMin(996px) {

    @at-root {
      .prev-btn {
        &:hover::before {
          border-color: $green;
          background-color: $white;
          color: $green;
        }
        
      }
    }
  } 
}
