footer {
  @at-root {
    .footer-details {
      padding: 10px 0px;
      @include flexbox (flex, $justify:space-between);
      font-size: $extra-small - 2;
      line-height: 1.4;

      >li {
        margin-right: 30px;
        @include flex-basis (25%);

        a {
          color: $black;
          @include transition (.5s);
        }

        @at-root {
          .footer-heading {
            padding: 20px 0px 15px 0px;
            font-size: $small;
            text-transform: uppercase;
          }

          .follow {
            padding: 15px 0px 10px 0px;
          }

          .icons {
            a {
              text-indent: -99999px;

              &::before {
                @include icons ($color: $lightgrey, $font: $medium-font);
                padding-right: 10px;
                float: right;
                text-indent: 0;
                @include transition (.5s);
              }
            }

            @include icons-content ($social-icons);
          }

          .archives {
            @include flexbox (flex, $direction: column);

            @at-root .archive-lists {
              padding: 10px 0px;
              border-bottom: 1px dashed $grey;

              &:first-child {
                padding-top: 0;
              }
            }
          }

          .contact {
            @extend .archives;

            li {

              a {
                padding-bottom: 0px;
                @include flexbox (flex, center);

                &::before {
                  padding-right: 10px;
                  @include icons ($color: $grey, $font: $medium-font + 2);
                }

              }

              &:nth-child(2) a::before {
                font-size: $medium-large,
              }

              &:nth-child(3) a::before {
                font-size: $medium-large + 4,
              }
            }

            @include icons-content ($contact-icons);
          }

          .form-input {
            padding: 10px 0px 10px 10px;
            margin-bottom: 5px;
            border: none;
            border-bottom: 1px solid $grey;
            float: right;
            background-color: $offWhite;
            outline: none;
          }

          .subscribe-btn {
            padding: 8px 12px;
            margin-top: 10px;
            border: 1px solid $green;
            float: right;
            background-color: $green;
            color: $white;
            font-size: $extra-small - 2;
            text-transform: uppercase;
            @include transition (.5s);
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .footer-menu {
      width: 100%;
      background-color: $black;
      color: $white;

      a {
        color: $white;
      }

      .foot {
        @include flexbox (flex, $justify: space-between);

        .menu {
          a {
            padding: 5px 5px 5px 0px;
            font-size: $extra-small - 2;
            text-transform: uppercase;
          }
        }

        p {
          padding: 5px 0px;
          font-size: $extra-small - 2;
        }
      }
    }
  }

  @include responsiveMin(996px) {
    @at-root {
      footer {
        a:hover {
          color: $green;
          @include transition (.5s);
        }

        @at-root {
          .subscribe-btn:hover {
            background-color: transparent;
            color: $green;
          }

          .icons {
            a:hover {
              &::before {
                color: $green;
              }
            }
          }
        }
      }
    }
  }

  @include responsiveMinMax (481px, 768px) {

    @at-root .footer-details {
      @include flexbox ($wrap:wrap);

      li {
        @include flex-basis (42%);

        &:nth-child(even) {
          margin: 0;
        }

        &:nth-child(4) {
          form {
            @include flexbox (flex, $direction: column);
          }
        }
      }
    }
  }

  @include responsiveMax (480px) {
    .footer-details {
      @include flexbox ($direction: column);

      li {

        &:nth-child(4) {
          form {
            @include flexbox (flex, $direction: column);
          }
        }
      }
    }
  }
}