header {
  width: 100%;
  @include positions (sticky, 999, 0);
  background-color: $offWhite;
  @include box-shadow (1px 1px 10px rgba(0, 0, 0, .12));

  @at-root {
    .header-content {
      padding: 15px 0 18px;
      @include flexbox(flex, $justify:space-between);
      @include positions (relative);
    }

    .hamburger {
      width: 45px;
      height: 45px;
      border-radius: 2px;
      display: none;
      @include positions(relative, 2);
      background-color: $offWhite;
      cursor: pointer;

      .text-indent {
        text-indent: -99999px;
      }

      .bar {
        width: 40%;
        height: 2.5px;
        border-radius: 5px;
        @include positions(absolute, $left: 30%);
        background: $green;
        @include transition (.5s);

        &:nth-child(1) {
          top: 40%;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 60%;
        }
      }

      &.active {
        .bar {
          &:nth-child(1) {
            @include transform (translateY(3px) rotate(-45deg));
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            @include transform (translateY(-7px) rotate(45deg));
          }
        }
      }
    }

    .pull-btn {
      @include positions (absolute, $top: 0, $right: 0);
      font-size: $extra-small - 3;
      text-transform: uppercase;
    }

    .pull-icon {
      color: $black;

      &::after {
        @include icons ("\f02e", $color: $green, $font: $extra-small);
        padding-left: 8px;
      }
    }

    .navbar {
      @include flexbox (flex, center);
    }

    .nav-list {
      margin: 15px 5px 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 14px;
        color: $black;
        font-size: $extra-small - 2;
        text-transform: uppercase;
        @include transition (.5s);
      }

      &:last-child a {
        padding-right: 0;
      }
    }
  }

  @include responsiveMin(996px) {
    .nav-list {
      a {
        &:hover {
          color: $green;
        }
      }
    }
  }

  @include responsiveMax (768px) {

    .header-content {
      @include align-items (center);

      @at-root nav {
        width: 115.5%;
        height: 100vh;
        @include positions (absolute, 2, 0, $left: -10%);
        background-color: $green;
        @include transition(.5s);
        @include transform(translateX(-120%));

        .navbar {
          height: 80%;
          @include flexbox ($align: center, $direction:column, $justify:center);

          @at-root .nav-list {
            a {
              color: $offWhite;

              &:last-child {
                padding-right: 14px;
              }
            }

            &:last-child {
              margin-right: 5px;
            }
          }
        }

        &.active {
          @include transform(translateX(0));
        }
      }

      @at-root .hamburger {
        display: block;
      }
    }

  }
}