.portfolio {
  padding: 15px 0px;
  @extend .welcome;

  @at-root {
    .portfolio-heading {
      padding-left: 20px;
      @include positions (relative, 1);
      font-size: $medium-font + 2;

      &::before {
        content: "";
        width: 100%;
        margin: 0 auto;
        border-top: 2px dashed $lightgrey;
        @include positions (absolute, -1, 50%, 0, 0, 0);
      }
    }

    .portfolio-cards {
      padding: 30px 0px;
      @include flexbox (flex, $wrap: wrap, $justify: space-between);
      gap: 22px;

      @at-root {

        .card {
          @include flexbox (flex);
          @include onlyflex (1 1 45%);
          background-color: $white;
          @include box-shadow (0px 0px 1px 0px rgb(0 0 0 / 30%));

          figure {
            @include positions (relative);
            @include flex-basis (53%);
            overflow: hidden;

            @at-root {
              .hover-icon {
                display: none;
                @include positions (absolute, $top: 50%, $left: 50%);
                @include transform (translate(-50%, -50%));

                @at-root {
                  .search-icon{
                    text-indent: -99999px;

                    &::before {
                      @include icons ('\f002', $color: $white);
                      width: 35px;
                      height: 35px;
                      border: 5px solid darken($lightgrey, 8%);
                      border-radius: 50%;
                      @include flexbox (flex, center, $justify: center);
                      float: right;
                      background-color: #4498CA;
                      text-indent: 0;
                    }
                  }
                }
              }
            }
          }

          @at-root {

            .card-details {
              padding: 12px 16px 12px 16px;
              @include flex-basis (47%);

              h3 {
                padding-bottom: 5px;
                font-size: $extra-small + 1;
                text-transform: uppercase;
              }

              a {
                padding: 3px 10px 0px 10px;
                background-color: $green;
                color: $white;
                font-size: $extra-small - 2;
                text-transform: capitalize;
              }

              p {
                padding-top: 8px;
                font-size: $extra-small - 2;
                line-height: 1.3;
              }
            }
          }
        }
      }
    }
  }

  @include responsiveMin(996px) {

    @at-root {
      .card:hover {
        img {
          opacity: 80%;
          @include transition (.3s);
          @include transform (scale(1.3));
        }

        .hover-icon {
          display: block;
          @include transition (.5s);
        }
      }

      .hover-icon:hover {
        a {
          &::before {
            border-color: $green;
            background-color: $white;
            color: $green;
            @include transition (.3s);
          }
        }
      }
    }
    .card-details {
      a:hover {
        background-color: transparent;
        color: $green;
      }
    }
  }
  
  @include responsiveMinMax (481px, 768px){
    .card { flex-direction: column; }
  }

  @include responsiveMax (480px) {
    .portfolio-cards { flex-direction: column; }
  }
}